body{
    display: flex;
    background: #222;
    overflow: hidden;
}
#logo{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 2em;
    margin-left: 2em;
    height: 11em;
    width: auto;
}

#container{
    position: relative;
}

#selection{
    font-family: 'Jockey One', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2.5em;
    margin-right: 3.5em;
    color: #fff;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: .25em;
}

#abtinfo{
    margin-top: 14em;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-family: TImes;
}
.run{
    color: #ffff00;
}
.hike{
    color: #FF6600;
}

.bike{
    color: #FF007F;
}
.swim{
   color: #00FFFF;
}
.safe1{
    color: #00ff00;
}
.safe2{
    color: #ff0000;
}
#imgs{
     margin-left: 14em;
}
.img1{
    height: 10em;
    width: auto;

}

.img2{
     height: 10em;
    width: auto;
/*    margin-top: 5em;*/
  
}

.column{
    display: flex;
    padding-left: 10em;
    padding-right: 1em;
}
.row1{
    flex: 50%;
    padding: 0.25em;
    margin-top: 16em;
    margin-left: 10em;
}
.row2{
     flex: 50%;
    padding: 0.25em;
    margin-top: 7em;
}
.perspective-text {
    margin-top: 4em;
    margin-left: 1.25em;
  color: white;
  font-family: Arial;
  font-size: 58px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.perspective-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}

#bikewords{
   position: fixed;
    top: 0;
    right: 0;
    margin-top: 15.25em;
    margin-right: 16.5em;
    font-family:  'Fredoka One';
    font-size: 29px;
    letter-spacing: 0.5em;
   text-decoration: none;
    color: #fff;
}
#bikewords:hover{
    color: #FF007F;
}
#runwords{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 15.25em;
    margin-right: 5.5em;
    font-family:  'Fredoka One';
    font-size: 29px;
    letter-spacing: 0.5em;
   text-decoration: none;
    color: #fff;
}
#runwords:hover{
    color: #C2FF50;
}
#swimwords{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 25.25em;
    margin-right: 16em;
    font-family:  'Fredoka One';
    font-size: 29px;
    letter-spacing: 0.5em;
   text-decoration: none;
    color: #fff;
}
#swimwords:hover{
   color: #00FFFF;
}
#hikewords{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 25.25em;
    margin-right: 5em;
    font-family:  'Fredoka One';
    font-size: 29px;
    letter-spacing: 0.5em;
   text-decoration: none;
    color: #fff;
}
#hikewords:hover{
    color: #FF6600;
}

p {
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspective-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspective-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspective-line {
  position: relative;
}
.perspective-line:hover p{
  transform: translate(0, -50px);
}
.perspective-line:nth-child(1) {
  left: 29px;
}
.perspective-line:nth-child(2) {
  left: 58px;
}
.perspective-line:nth-child(3) {
  left: 87px;
}
.perspective-line:nth-child(4) {
  left: 116px;
}
.perspective-line:nth-child(5) {
  left: 145px;
}

.perspective-line:hover p{
  transform: translate(0, -50px);
}
p {
  transition: all 0.5s ease-in-out;
}
